/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                # GENERAL Styling
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                # MAIN Styling
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.section-feature {
  min-height: 95vh;
  margin: 4rem 0;

  display: grid;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.feature-intro {
  align-self: end;
  display: grid;
  justify-items: center;

  gap: 1.4rem;
}

.feature-heading {
  text-align: center;
  color: hsl(234, 12%, 34%);
  font-weight: 200;
  font-size: 3rem;
  line-height: 1.4;
}

.feature-heading span {
  font-weight: 600;
  display: block;
}

.feature-text {
  color: hsl(229, 6%, 66%);
  line-height: 1.6;
  width: 50%;
  text-align: center;
  font-size: 1.4rem;
}

.feature-card {
  align-self: start;
  display: flex;
  justify-content: center;
}

.feature-card-list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 2.4rem;
}

.card-item {
  list-style: none;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 1.6rem 2.4rem rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 2.4rem;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.card-1 {
  border-top: 3px solid hsl(180, 62%, 55%);
  grid-row: 2;

  transform: translateY(-10rem);
}

.card-2 {
  border-top: 3px solid hsl(0, 78%, 62%);
  grid-row: 1;
  grid-column: 2;
}

.card-3 {
  border-top: 3px solid hsl(34, 97%, 64%);
  grid-column: 2;
}

.card-4 {
  border-top: 3px solid hsl(212, 86%, 64%);
  grid-row: 2;
  grid-column: 3;

  transform: translateY(-10rem);
}

.card-text {
  font-size: 1.3rem;
  color: hsl(229, 6%, 66%);
  line-height: 1.7;
}

.icon {
  align-self: flex-end;

  padding-top: 1.8rem;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                # FOOTER Styling
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                # Media Quieris
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/* $$$$$$$$$$$$$
        (Below: 1000px)
$$$$$$$$$$$$$ */
@media (max-width: 62.5em) {
  .feature-card-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;

    padding: 0 8rem;
  }

  .card-1 {
    grid-row: 1;
    transform: translateY(0);
  }

  .card-2 {
    grid-row: 1;
    grid-column: 2;
  }

  .card-3 {
    grid-column: 1;
  }

  .card-4 {
    grid-row: 2;
    grid-column: 2;
    transform: translateY(0);
  }
}
/* $$$$$$$$$$$$$
        (Below: 800px)
$$$$$$$$$$$$$ */
@media (max-width: 50em) {
  .feature-heading {
    font-size: 2.4rem;
  }

  .feature-card-list {
    padding: 0 4rem;
  }

  .feature-text {
    width: 70%;
  }
}

/* $$$$$$$$$$$$$
        (Below: 600px)
$$$$$$$$$$$$$ */
@media (max-width: 37.5em) {
  .section-feature {
    gap: 2.4rem;
  }

  .feature-intro {
    padding: 0 3.2rem;
  }

  .feature-card-list {
    grid-template-columns: 1fr;
    padding: 3.2rem;
  }

  .card-1 {
    grid-column: 1;
    grid-row: 1;
  }

  .card-2 {
    grid-column: 1;
    grid-row: 2;
  }

  .card-3 {
    grid-row: 3;
  }

  .card-4 {
    grid-column: 1;
    grid-row: 4;
  }

  .feature-text {
    width: 100%;
    font-size: 1.5rem;
  }
}
